@{
    ViewBag.Title = "Home";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about MySQL for Visual Studio visit <a href="http://www.mysql.com/why-mysql/windows/visualstudio/" title="MySQL for Visual Studio page">http://www.mysql.com/why-mysql/windows/visualstudio/</a>.
</p>
<h3> Catalog list</h3>
<div> @Html.ActionLink("Accurint_batch_setup","Index", "Accurint_batch_setup")</div>
<div> @Html.ActionLink("Actcode","Index", "Actcode")</div>
<div> @Html.ActionLink("Actcode_ltr","Index", "Actcode_ltr")</div>
<div> @Html.ActionLink("Action_sched","Index", "Action_sched")</div>
<div> @Html.ActionLink("Action_setup","Index", "Action_setup")</div>
<div> @Html.ActionLink("Aic_code","Index", "Aic_code")</div>
<div> @Html.ActionLink("Aic_request","Index", "Aic_request")</div>
<div> @Html.ActionLink("Aj","Index", "Aj")</div>
<div> @Html.ActionLink("Ajdet","Index", "Ajdet")</div>
<div> @Html.ActionLink("Ap","Index", "Ap")</div>
<div> @Html.ActionLink("Apdet","Index", "Apdet")</div>
<div> @Html.ActionLink("Apidesc","Index", "Apidesc")</div>
<div> @Html.ActionLink("Ar","Index", "Ar")</div>
<div> @Html.ActionLink("Ardet","Index", "Ardet")</div>
<div> @Html.ActionLink("Assign","Index", "Assign")</div>
<div> @Html.ActionLink("Att","Index", "Att")</div>
<div> @Html.ActionLink("Bank","Index", "Bank")</div>
<div> @Html.ActionLink("Bankdups","Index", "Bankdups")</div>
<div> @Html.ActionLink("Bnchmrk","Index", "Bnchmrk")</div>
<div> @Html.ActionLink("Bureau_options","Index", "Bureau_options")</div>
<div> @Html.ActionLink("Cbinqdepts","Index", "Cbinqdepts")</div>
<div> @Html.ActionLink("Cbinqfields","Index", "Cbinqfields")</div>
<div> @Html.ActionLink("Chart","Index", "Chart")</div>
<div> @Html.ActionLink("Checkver","Index", "Checkver")</div>
<div> @Html.ActionLink("Chkverreason","Index", "Chkverreason")</div>
<div> @Html.ActionLink("Clt","Index", "Clt")</div>
<div> @Html.ActionLink("Clt_online","Index", "Clt_online")</div>
<div> @Html.ActionLink("Clt230_view","Index", "Clt230_view")</div>
<div> @Html.ActionLink("Cltact","Index", "Cltact")</div>
<div> @Html.ActionLink("Cltapprovedltr","Index", "Cltapprovedltr")</div>
<div> @Html.ActionLink("Cltltr","Index", "Cltltr")</div>
<div> @Html.ActionLink("Cltphon","Index", "Cltphon")</div>
<div> @Html.ActionLink("Cltrcvr","Index", "Cltrcvr")</div>
<div> @Html.ActionLink("Clttrust","Index", "Clttrust")</div>
<div> @Html.ActionLink("Clttrust_historical","Index", "Clttrust_historical")</div>
<div> @Html.ActionLink("Clttype","Index", "Clttype")</div>
<div> @Html.ActionLink("Cltudf","Index", "Cltudf")</div>
<div> @Html.ActionLink("Cltxref","Index", "Cltxref")</div>
<div> @Html.ActionLink("Coa","Index", "Coa")</div>
<div> @Html.ActionLink("Coadet","Index", "Coadet")</div>
<div> @Html.ActionLink("Collpdet","Index", "Collpdet")</div>
<div> @Html.ActionLink("Collplan","Index", "Collplan")</div>
<div> @Html.ActionLink("Contpdet","Index", "Contpdet")</div>
<div> @Html.ActionLink("Contplan","Index", "Contplan")</div>
<div> @Html.ActionLink("Costs","Index", "Costs")</div>
<div> @Html.ActionLink("Courtcod","Index", "Courtcod")</div>
<div> @Html.ActionLink("Credit_bureau","Index", "Credit_bureau")</div>
<div> @Html.ActionLink("Dbtr","Index", "Dbtr")</div>
<div> @Html.ActionLink("Dbtract","Index", "Dbtract")</div>
<div> @Html.ActionLink("Dbtraddr","Index", "Dbtraddr")</div>
<div> @Html.ActionLink("Dbtraic","Index", "Dbtraic")</div>
<div> @Html.ActionLink("Dbtraka","Index", "Dbtraka")</div>
<div> @Html.ActionLink("Dbtrapi","Index", "Dbtrapi")</div>
<div> @Html.ActionLink("Dbtrbank","Index", "Dbtrbank")</div>
<div> @Html.ActionLink("Dbtrcbinq","Index", "Dbtrcbinq")</div>
<div> @Html.ActionLink("Dbtrctc","Index", "Dbtrctc")</div>
<div> @Html.ActionLink("Dbtrdial","Index", "Dbtrdial")</div>
<div> @Html.ActionLink("Dbtrdup","Index", "Dbtrdup")</div>
<div> @Html.ActionLink("Dbtremp","Index", "Dbtremp")</div>
<div> @Html.ActionLink("Dbtrltr","Index", "Dbtrltr")</div>
<div> @Html.ActionLink("Dbtrold","Index", "Dbtrold")</div>
<div> @Html.ActionLink("Dbtrpaym","Index", "Dbtrpaym")</div>
<div> @Html.ActionLink("Dbtrphon","Index", "Dbtrphon")</div>
<div> @Html.ActionLink("Dbtrpost","Index", "Dbtrpost")</div>
<div> @Html.ActionLink("Dbtrprom","Index", "Dbtrprom")</div>
<div> @Html.ActionLink("Dbtrrms","Index", "Dbtrrms")</div>
<div> @Html.ActionLink("Dbtrsent","Index", "Dbtrsent")</div>
<div> @Html.ActionLink("Dbtrudf","Index", "Dbtrudf")</div>
<div> @Html.ActionLink("Dbtrxdbt","Index", "Dbtrxdbt")</div>
<div> @Html.ActionLink("Dbtrxref","Index", "Dbtrxref")</div>
<div> @Html.ActionLink("Debt","Index", "Debt")</div>
<div> @Html.ActionLink("Debt_bureau","Index", "Debt_bureau")</div>
<div> @Html.ActionLink("Debt2yy_view","Index", "Debt2yy_view")</div>
<div> @Html.ActionLink("Debtadj","Index", "Debtadj")</div>
<div> @Html.ActionLink("Debtfee","Index", "Debtfee")</div>
<div> @Html.ActionLink("Debtfwd","Index", "Debtfwd")</div>
<div> @Html.ActionLink("Debtlgl","Index", "Debtlgl")</div>
<div> @Html.ActionLink("Debttype","Index", "Debttype")</div>
<div> @Html.ActionLink("Debtudf","Index", "Debtudf")</div>
<div> @Html.ActionLink("Dialer_actions","Index", "Dialer_actions")</div>
<div> @Html.ActionLink("Dst","Index", "Dst")</div>
<div> @Html.ActionLink("Dsttype","Index", "Dsttype")</div>
<div> @Html.ActionLink("Eodlog","Index", "Eodlog")</div>
<div> @Html.ActionLink("Eodproc","Index", "Eodproc")</div>
<div> @Html.ActionLink("Eodrep","Index", "Eodrep")</div>
<div> @Html.ActionLink("Feecode","Index", "Feecode")</div>
<div> @Html.ActionLink("Feepdet","Index", "Feepdet")</div>
<div> @Html.ActionLink("Feeplan","Index", "Feeplan")</div>
<div> @Html.ActionLink("Holiday","Index", "Holiday")</div>
<div> @Html.ActionLink("Ic_request","Index", "Ic_request")</div>
<div> @Html.ActionLink("Impfield","Index", "Impfield")</div>
<div> @Html.ActionLink("Impgroup","Index", "Impgroup")</div>
<div> @Html.ActionLink("Import","Index", "Import")</div>
<div> @Html.ActionLink("Indexing","Index", "Indexing")</div>
<div> @Html.ActionLink("Language","Index", "Language")</div>
<div> @Html.ActionLink("Letter","Index", "Letter")</div>
<div> @Html.ActionLink("Letter_state_sub","Index", "Letter_state_sub")</div>
<div> @Html.ActionLink("List_option","Index", "List_option")</div>
<div> @Html.ActionLink("Listoptxwrk","Index", "Listoptxwrk")</div>
<div> @Html.ActionLink("Locktable","Index", "Locktable")</div>
<div> @Html.ActionLink("Ltrfield","Index", "Ltrfield")</div>
<div> @Html.ActionLink("Matchprm","Index", "Matchprm")</div>
<div> @Html.ActionLink("Micrchk","Index", "Micrchk")</div>
<div> @Html.ActionLink("Period","Index", "Period")</div>
<div> @Html.ActionLink("Peryear","Index", "Peryear")</div>
<div> @Html.ActionLink("Pmt","Index", "Pmt")</div>
<div> @Html.ActionLink("Pmt_post_session","Index", "Pmt_post_session")</div>
<div> @Html.ActionLink("Pmtb","Index", "Pmtb")</div>
<div> @Html.ActionLink("Pmtbdebt","Index", "Pmtbdebt")</div>
<div> @Html.ActionLink("Pmtbfee","Index", "Pmtbfee")</div>
<div> @Html.ActionLink("Pmtcode","Index", "Pmtcode")</div>
<div> @Html.ActionLink("Pmtfee","Index", "Pmtfee")</div>
<div> @Html.ActionLink("Pmtuser","Index", "Pmtuser")</div>
<div> @Html.ActionLink("Rms_archive","Index", "Rms_archive")</div>
<div> @Html.ActionLink("Rms_code","Index", "Rms_code")</div>
<div> @Html.ActionLink("Rmsbank","Index", "Rmsbank")</div>
<div> @Html.ActionLink("Salesrep","Index", "Salesrep")</div>
<div> @Html.ActionLink("Scanout","Index", "Scanout")</div>
<div> @Html.ActionLink("Sentltr","Index", "Sentltr")</div>
<div> @Html.ActionLink("Sk","Index", "Sk")</div>
<div> @Html.ActionLink("St_options","Index", "St_options")</div>
<div> @Html.ActionLink("Statcode","Index", "Statcode")</div>
<div> @Html.ActionLink("Storegrp","Index", "Storegrp")</div>
<div> @Html.ActionLink("Stuser","Index", "Stuser")</div>
<div> @Html.ActionLink("Template","Index", "Template")</div>
<div> @Html.ActionLink("Test","Index", "Test")</div>
<div> @Html.ActionLink("Tz","Index", "Tz")</div>
<div> @Html.ActionLink("Tzdet","Index", "Tzdet")</div>
<div> @Html.ActionLink("Udfcode","Index", "Udfcode")</div>
<div> @Html.ActionLink("Udfpdet","Index", "Udfpdet")</div>
<div> @Html.ActionLink("Udfplan","Index", "Udfplan")</div>
<div> @Html.ActionLink("Udftype","Index", "Udftype")</div>
<div> @Html.ActionLink("Ul_connection_script","Index", "Ul_connection_script")</div>
<div> @Html.ActionLink("Ul_script","Index", "Ul_script")</div>
<div> @Html.ActionLink("Ul_scripts_modified","Index", "Ul_scripts_modified")</div>
<div> @Html.ActionLink("Ul_table","Index", "Ul_table")</div>
<div> @Html.ActionLink("Ul_table_script","Index", "Ul_table_script")</div>
<div> @Html.ActionLink("Ul_user","Index", "Ul_user")</div>
<div> @Html.ActionLink("Userstat","Index", "Userstat")</div>
<div> @Html.ActionLink("Userxsales","Index", "Userxsales")</div>
<div> @Html.ActionLink("Userxwrk","Index", "Userxwrk")</div>
<div> @Html.ActionLink("Vend","Index", "Vend")</div>
<div> @Html.ActionLink("Vendamt","Index", "Vendamt")</div>
<div> @Html.ActionLink("Worklist","Index", "Worklist")</div>
<div> @Html.ActionLink("Zip","Index", "Zip")</div>

